* {
    margin: 0;
    padding: 0
}

#App {
background: url('../../img/tlo.jpg') no-repeat center;
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

#App2 {
    background: url('../../img/tlo.jpg') no-repeat center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.SignUpForm {
    /* position: absolute;
    bottom: 27vh; */
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    margin-top: 40vh;
}

.Text {
    flex: 1 1 0;
    
}

@media (max-width: 400px) {
    
}